.elasticstack {
	list-style: none;
	perspective: 1000px;
	perspective-origin: 50% 150%;
}


.elasticstack li {
	position: absolute;
	z-index: 1;
	transform: translate3d(0,0,-180px);
	transform-style: preserve-3d;
}

.elasticstack li.animate {
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}
