html, body, .ox, .app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* { touch-action: pan-y; }

.clear {
  clear: both;
} 

a {
  text-decoration: none;
}
.ox-card {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ox-copyright {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.middle-line {
  width: 100%;
  position: absolute;
  height: 50%;
  border-bottom: 1px solid #e6dbd0;
}