html, body, .ox, .app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Microsoft YaHei";
}
/* 去掉点击背景色 */
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.toast {
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  bottom: 10%;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 40px;
  text-align: center;
  color: white;
}


/* pc页面样式 */
.pc {
  min-width: 800px;
  min-height: 600px;
  background-image: url("../images/bg.jpg");
}
.pc .show-box {
  min-width: 756px;
}
.pc .history {
  min-width: 780px;
}
.pc .content-left-button {
  display: none;
}
/* 手机页面 */
.h5 {
  background-image: url("../images/h5-bg.jpg");
  background-size: 100%;
  background-color: #e9e3d7;
}

.h5 .page-header {
  display: none;
}
.h5 .ox-copyright {
  display: none;
}

.h5 .show-box {
  display: none;
}

.h5 .ox-card .show-box {
  width: 80%;
  height: 80%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.h5 .ox-share .learn-info {
  width: 70px;
  height: 70px;
}

.h5 .ox-share .learn-info .num {
  line-height: 50px;
  font-size: 50px;
}

.h5 .ox-share .learn-info .text {
  right: 5px;
}

.h5 .ox-card .elasticstack {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.h5 .ox-card .elasticstack li {
  width: 90%;
  height: 90%;
}

.h5 .ox-card .elasticstack .note-left {
  float: none;
  height: 72px;
  width: 110px;
  background-image: url(../images/note-h5.png);
  background-size: 100% 100%;
}

.h5 .ox-card .elasticstack .content-left {
  float: none;
  background-image: url(../images/stage-h5.png);
  width: 68px;
  height: 50px;
  margin: 0 auto;
}

.h5 .ox-card .elasticstack .content-left .num {
  font-size: 18px;
  left: 19px;
  top: 14px;
}

.h5 .ox-card .elasticstack .content {
  max-height: calc(100% - 130px);
  margin: 10px;
}

.h5 .ox-card .elasticstack .mini {
  height: calc(100% - 240px);
}

.h5 .ox-card .elasticstack .title {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.h5 .ox-card .next, .h5 .ox-card .last {
  display: none;
}
.h5 .ox-card .record {
  bottom: calc(8% - 40px);
  top: unset;
  right: 10%;
  width: 80px;
  height: 28px;
}

.h5 .ox-card .elasticstack .image-box {
  float: none;
  width: unset;
  height: 157px;
  margin: 0px 20px;
}

.h5 .ox-card .elasticstack .image-box img {
  height: 100%;
  width: unset;
  left: 0;
  right: 0;
}
.h5 .ox-card .date-box {
  width: 50px;
  left: calc(10% - 21px);
  right: unset;
  top: 0;
  bottom: 0;
}

.h5 .ox-card .audio-box .audio-bar {
  width: calc(100% - 45px);
}

.h5 .ox-card .main {
  top: 0;
}

.pc .ox-card .main {
  top: -100%;
}


.h5 .ox-card .date-box .date-item {
  float: none;
  margin: 5px 11px;
}
.h5 .ox-card .date-box .active {
  margin: 5px;
}

.h5 .ox-card .date-box .middle-line {
  float: none;
  border-bottom: none;
  width: 24px;
  height: 20px;
  border-right: 1px solid #e6dbce;
}

.h5 .ox-card .history {
  width: 80%;
  height: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

.h5 .ox-card .history .right {
  height: 25%;
  width: 100%;
  padding: 0;
  background-color: white;
}

.h5 .ox-card .history .right .qr-box, .h5 .ox-card .history .right p {
  display: none;
}
.h5 .ox-card .history .left  {
  float: none;
  width: 100%;
  height: 75%;
}
.h5 .ox-card .history .left .history-left-card-box .item {
  float: none;
  display: flex;
  width: 100%;
  height: 40px;
  border-right: none;
  border-bottom: 1px solid #dcd1c1;
}
.h5 .ox-card .history .left .history-left-card-box {
  width: 80%;
}

.h5 .ox-card .history .left .history-left-card-box .item .num {
  width: 40px;
}
.h5 .ox-card .history .left .history-left-card-box .item .text {
  padding: 0;
  width: calc(100% - 90px);
  height: 40px;
  line-height: 40px;
  color: #f3d9ac;
  text-align: left;
  padding: 0 5px;
  letter-spacing: 2px;
}

.h5 .ox-card .history .left .history-left-card-box .item .icon-box {
  width: 40px;
}

.h5 .ox-card .next-box {
  display: flex;
}

.h5 .ox-card .history .close-button {
  display: none;
}

* { touch-action: pan-y; }

.clear {
  clear: both;
} 

a {
  text-decoration: none;
}
.ox-card {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ox-copyright {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.middle-line {
  width: 20px;
  border-bottom: 1px solid #e6dbce;
  float: left;
  height: 24px;
}
p {
  margin: 5px 0;
  text-indent: 2rem;
  line-height: 22px;
}
/* 滚动条样式 */


.content::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  background: #f7a085;
}
.content::-webkit-scrollbar-track {/*滚动条里面轨道*/
  border-radius: 10px;
  background: #EDEDED;
}

/* 媒体查询 */

@media screen and (max-height: 720px) {
  .pc .ox-copyright {
    display: none;
  }
  .pc .ox-card .date-box, .pc .ox-card .record{
    top: unset;
    bottom: 5%;
    right: 20px;
  }
  .pc .ox-card .elasticstack {
    top: 20%;
  }
}

@media screen and (max-height: 780px) {
  .pc .ox-copyright .copyright-box {
    height: 100px;
  }
  .pc .ox-card .date-box, .pc .ox-card .record{
    top: 77%;
  }
}

@media screen and (max-height: 690px) {
  .pc .ox-copyright .copyright-box {
    height: 100px;
  }
  .pc .ox-card .date-box, .pc .ox-card .record{
    bottom: 0;
    top: unset;
    margin: 10px auto;
  }
}